<form method="POST" enctype="multipart/form-data" action="/config/gcp">
    <h3>Cluster-API Kubernetes Cluster Configuration for GCP</h3>

    <h4>Cluster-API global</h4>
    <label for="clusterName">Cluster Name:&nbsp;&nbsp;</label>
    <input type="text" id="clusterName" name="clusterName">
    <br><br>

    <label for="kubernetesVersion">Kubernetes Version:&nbsp;&nbsp;</label>
    <input type="text" id="kubernetesVersion" name="kubernetesVersion">
    <br><br>

    <label for="controlPlaneMachineCount">Control Plane Machine Count:&nbsp;&nbsp;</label>
    <input type="text" id="controlPlaneMachineCount" name="controlPlaneMachineCount">
    <br><br>

    <label for="workerMachineCount">Worker Machine Count:&nbsp;&nbsp;</label>
    <input type="text" id="workerMachineCount" name="workerMachineCount">
    <br><br>

    <label for="clusterTopology">Cluster Topology:&nbsp;&nbsp;</label>
    <input type="text" id="clusterTopology" name="clusterTopology">
    <br><br>

    <label for="flavor">Flavor:&nbsp;&nbsp;</label>
    <input type="text" id="flavor" name="flavor">
    <br><br>

    <h4>Meta-data</h4>
    <label for="owner">Owner:&nbsp;&nbsp;</label>
    <input type="text" id="owner" name="owner">
    <br><br>

    <h4>Provider-specific</h4>
    <label for="providerVersion">CAPI GCP Provider Version:&nbsp;&nbsp;</label>
    <input type="text" id="providerVersion" name="providerVersion">
    <br><br>

    <label for="gcpRegion">GCP Region:&nbsp;&nbsp;</label>
    <input type="text" id="gcpRegion" name="gcpRegion">
    <br><br>

    <label for="gcpProject">Project:&nbsp;&nbsp;</label>
    <input type="text" id="gcpProject" name="gcpProject">
    <br><br>

    <label for="gcpControlPlaneMachineType">Control Plane Machine Type:&nbsp;&nbsp;</label>
    <input type="text" id="gcpControlPlaneMachineType" name="gcpControlPlaneMachineType">
    <br><br>

    <label for="gcpNodeMachineType">GCP Node Machine Type:&nbsp;&nbsp;</label>
    <input type="text" id="gcpNodeMachineType" name="gcpNodeMachineType">
    <br><br>

    <label for="gcpImageID">Image ID:&nbsp;&nbsp;</label>
    <input type="text" id="gcpImageID" name="gcpImageID">
    <br><br>

    <label for="gcpNetworkName">Network Name:&nbsp;&nbsp;</label>
    <input type="text" id="gcpNetworkName" name="gcpNetworkName">
    <br><br>

    <input type="submit">

</form>
